
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Autorise l'accès complet (lecture et écriture) à tous les utilisateurs
    // ATTENTION: À utiliser uniquement pour le prototypage
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
